<launch>

    <arg name="tello_ssid"/>
    <arg name="tello_pw" default=""/>

    <include file="$(find tello_driver)/launch/tello_driver_ros.launch">
        <arg name="tello_ssid" value="$(arg tello_ssid)"/>
        <arg name="tello_password" value="$(arg tello_pw)"/>
    </include>

    <include file="$(find tello_controller)/launch/tello_controller.launch">
    </include>
</launch>
