<launch>

    <arg name="tello_driver_name" default="tello_driver_node" />

    <!-- Topics -->
    <arg name="tello_takeoff_topic_name" default="/tello/takeoff" />
    <arg name="tello_land_topic_name" default="/tello/land" />
    <arg name="tello_image_topic_name" default="/tello/camera/image_raw" />
    <arg name="tello_flight_data_topic_name" default="/tello/flight_data" />
    <arg name="tello_vel_cmd_stamped_topic_name" default="/tello/cmd_vel_stamped" />
    <arg name="tello_collision_topic_name" default="/tello/collision_detection" />
    <arg name="tello_flip_control_topic_name" default="/tello/flip_control"/>

    <!-- Tello WiFi credentials-->
    <arg name="connect_to_tello_wifi_auto" default="false" />
    <arg name="tello_ssid" default="" if="$(eval arg('connect_to_tello_wifi_auto') == false)"/>
    <arg name="tello_password" default="" />

    <!-- TF2 Frames -->
    <arg name="tello_frame_name" default="robot_base_link" />
    <arg name="tello_world_frame_name" default="world" />

    <node name="$(arg tello_driver_name)" pkg="tello_driver" type="tello_driver_ros_node.py" output="screen">
        <remap from="/tello/takeoff" to="$(arg tello_takeoff_topic_name)" />
        <remap from="/tello/land" to="$(arg tello_land_topic_name)" />
        <remap from="/tello/camera/image_raw" to="$(arg tello_image_topic_name)" />
        <remap from="/tello/flight_data" to="$(arg tello_flight_data_topic_name)" />
        <remap from="/tello/cmd_vel_stamped" to="$(arg tello_vel_cmd_stamped_topic_name)" />
        <remap from="/tello/collision_detection" to="$(arg tello_collision_topic_name)" />
        <remap from="/tello/flip_control" to="$(arg tello_flip_control_topic_name)" />

        <param name="tello_frame_name" value="$(arg tello_frame_name)" type="string" />
        <param name="tello_world_frame_name" value="$(arg tello_world_frame_name)" type="string" />

        <param name="tello_ssid" value="$(arg tello_ssid)" type="string" />
        <param name="tello_pw" value="$(arg tello_password)" type="string" />
        <param name="connect_to_tello_wifi_auto" value="$(arg connect_to_tello_wifi_auto)" type="bool" />
  </node>

</launch>
