<!-- -->
<launch>

	<arg name="arena_environment_node_name" 	default="arena_environment_node" />
	<arg name="screen" 	default="screen" />

  <node name="$(arg ars_sim_environment_node_name)" pkg="ars_sim_environment" type="arena_environment_ros_node.py" output="$(arg screen)" >

  </node>


</launch>
